html {
    background: darkslategray;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #b27144;
    padding: 10px;
}

h1 {
    color: #ffe9d8;
}

article, header, footer, aside {
    border: 2px solid #817d54;
    border-radius: 5px;
    background-color: #ebead5;
    margin: 10px;
    padding: 10px;
}

.container {

}

header {

}

article#jewelry {

}

article#clocks {

}

article#clothes {

}

article#furniture {

}

footer {

}