/* the order of styles applied are from
   top to bottom in a stylesheet */
p {
    color: yellowgreen;
}

p {
    color: #8b008b;
}

p {
    color: #d19ee7;
}

/* the selectors can vary, but the rules
   remain the same */

p {
    color: #0066ee;
}

body p {
    color: crimson;
}

p#main {
    color: darkgreen;
}

body {
    background-color: beige;
    font-family: "Bookman Old Style", serif;
    margin: 30px;
    border: 1px solid black;
}

* {
    margin: 30px;
    border: 1px solid black;
}