body {
    background-color: cornsilk;
}

/* styles for all devices */
h1 {
    border-top: 2px solid rosybrown;
    border-bottom: 2px solid rosybrown;
    padding: 8px 4px;
    font-family: Baskerville Old Face, serif;
    font-size: 2.0em;
    background-color: bisque;
    color: #8d5152;
    line-height: 1.5em;
}

p {
    margin: 30px;
}

/* styles for mobile devices */
@media screen and (max-width: 640px) {
    h1 {
        background-color: #8d5152;
        color: bisque;
        text-align: center;
    }

    p {
        background-color: #efefef;
        margin: 8px 0;
        padding: 8px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        font-size: 1.1em;
    }

    ul {
        display: none;
    }
}

/* styles for tablets */
@media screen and (min-width: 640px) and (max-width: 1200px) {
    body {
        background-color: rosybrown;
    }

    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    p {
        width: 250px;
        border: 2px solid darkred;
        background-color: beige;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }
}

/* styles for desktops */
@media screen and (min-width: 1200px) {
    body {
        background-color: #ddf4ff;
    }

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 2fr;
    }
}