html {
    background-color: #ffe7e8;
}

body {
    background-color: #b3e9eb;
    width: 1000px; /* this is a fixed layout */
    margin: 0 auto; /* center the body element on the page */
}

header, footer {
    background-color: #87bcbe;
}

article p {
    display: block;
    width: 900px;
    margin: 10px auto;
    text-align: justify;
}